
<!-- <app-first-component></app-first-component> -->

<!-- <p>OnChanges Method</p> -->

<!-- <div>
    <input type="text" #id (keyup)="myFun(id.value)">
    <app-second-component [Name]="value"></app-second-component>

    <button type="button" (click)="myAction()">Click</button>
</div> -->

<!-- <p>Angular Router</p> -->

<!-- <nav>
    <ul>
        <li>
            <a routerLink="/firstroute" routerLinkActive="active">First Route</a>
        </li>
        <li>
            <a routerLink="/secondroute" routerLinkActive="active">Second Route</a>
        </li>
    </ul>
</nav> -->


<!-- <nav class="navbar bg-light">
    <div class="container-fluid">
        <div class="nav-bar">
            <a routerLink="/firstroute" routerLinkActive="active">
                FirstRoute
            </a>
            
            <a routerLink="/secondroute" routerLinkActive="active">
                SecondRoute
            </a>
        </div>
    </div>
</nav> -->

<!-- <app-form></app-form> -->

<!-- <app-component-style></app-component-style> -->

<!-- <app-template></app-template> -->

<app-directive></app-directive>

<!-- <router-outlet></router-outlet> -->