<p style="text-align:center ;">template works!</p>

<h2>---------String Pipe Format---------</h2>

<h4>Name in Uppercase: {{name | uppercase}}</h4>
<br>
<h4>{{'thIS is a TiTLE CAse sTRIng' | titlecase}}</h4>
<br>
<h4>{{'one,two' | titlecase}}</h4>

<h2>--------Date Pipe Format----------</h2>

<h4>Short Date Format: {{Date | date:'shortDate'}}</h4>

<h4>Medium Date Format: {{Date | date:'mediumDate'}}</h4>

<h4>Full Date Format: {{Date | date:'full'}}</h4>

<h4>Short Time format: {{Date | date:'shortTime'}}</h4>
<h4>Medium Time format : {{Date | date:'mediumTime'}}</h4>
<h4>Full Time format : {{Date | date:'fullTime'}}</h4>

<h2>---------- Currency Pipe Formats ------------</h2>

<h4>Currency Format : {{a | currency}}</h4>

<h2>--------- Percent Pipe Format</h2>

<h4>Percent Format : {{a | percent}} </h4>

<h2>------- Decimal Format Pipe ----------</h2>

<h4>Decimal Format : {{a | number}}</h4>
<h4>Decimal Format : {{a | number:'3.4-1'}}</h4>